$teamaColor : #409FB5;
$teamaYellow : #E1E828;
$teamaGray : #464646;

header {
	div.titles {
		h1 {
			a {
				img {
				}
			}
		}
		span {
		}
		h2 {
		}
	}
	nav {
		p {
		}
	}
}
main {
    > *:not(.header){
        box-sizing: border-box;
        padding: 0 1rem;
    }
	div.header {
        margin-top: 2rem;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
		h2 {
            flex: 70% 0 0;
            background-color: $teamaColor;
            color: white;
            border-radius: 0 100px 100px 0;
            box-sizing: border-box;
            padding-left: 1em;
            display: flex;
            align-items: center;
            font-size: 1.5em;
            font-weight: bold;
		}
		p.backToList {
            padding-right: 1em;
			a {
                text-decoration: none;
                display: inline-block;
				img {
                    display: block;
				}
			}
		}
	}
    div.sizes {
        margin-top: 2rem;
        grid-area: sizes;
        font-size: 1.2em;
        line-height: 1;
        color: $teamaColor;
        h2{
            font-size: 1.4em;
            text-align: center;
            border: solid 2px;
            border-bottom: dotted 2px;
            border-radius: 5px 5px 0 0;
            padding: 0.8em 0;
        }
        dl {
            display: grid;
            grid-template: 
            "top-left-title top-right-title" auto
            "top-left-num top-right-num" auto
            "bottom-title bottom-title" auto
            "bottom-num bottom-num" auto
            /1fr 1fr;
            dt {
                text-align: left;
                box-sizing: border-box;
                padding: 1em 1em 0.5em 1em;
                &:nth-child(1){
                    grid-area: top-left-title;
                    border-left: solid 2px;
                }
                &:nth-child(3){
                    grid-area: top-right-title;
                    border-left: dotted 2px;
                    border-right: solid 2px;
                }
                &:nth-child(5){
                    grid-area: bottom-title;
                    border-left: solid 2px;
                    border-right: solid 2px;
                }
            }
            dd {
                text-align: left;
                box-sizing: border-box;
                padding: 0 1em 1em 1em;
                font-size: 1.5em;
                font-weight: bold;
                &:nth-child(2){
                    grid-area: top-left-num;
                    border-bottom: dotted 2px;
                    border-left: solid 2px;
                }
                &:nth-child(4){
                    grid-area: top-right-num;
                    border-bottom: dotted 2px;
                    border-left: dotted 2px;
                    border-right: solid 2px;
                }
                &:nth-child(6){
                    grid-area: bottom-num;
                    border-left: solid 2px;
                    border-right: solid 2px;
                    border-bottom: solid 2px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
                span.num_int {
                }
                span.num_floot {
                    font-size: 0.6em;
                }
                span.tanni {
                    font-size: 0.65em;
                }
            }
        }
    }
    section.list.unmatch {
        background: $teamaColor;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        box-sizing: content-box;
        margin: 2em 1em;
        border-radius: 5px;
        line-height: 1.5;
        p{
            
        }
        p::before{
            content: url(../images/global/icon-noti.svg);
            display: block;
            filter: brightness(10);
            margin-bottom: 0.5em;
        }
    }       
	section.list.matched {
		h2 {
            margin-top: 3rem;
            font-size: 1.5em;
            color: $teamaColor;
            font-weight: bold;
		}
		ol {
            margin-top: 1.5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2em 1em;
			li {
				a {
					figure {
                        position: relative;
                        &::before{
                            content: '';
                            display: block;
                            padding-top: 100%;
                        }
						img {
                            display: block;
                            object-fit: contain;
                            object-position: center;
                            height: 100%;
                            border-radius: 5px;
                            box-shadow: 0px 0px 14px #194D4639;
                            background-color: white;
                            box-sizing: border-box;
                            padding: 5%;
                            position: absolute;
                            top: 0;
                            left: 0;
						}
                    }
                    dl {
                        margin-top: 1em;
                        display: grid;
                        grid-template-columns: 22% 1fr;
                        gap: 0.5em 1em;
                        color: $teamaColor;
                        dt {
                        }
                        dd {
                            margin-top: auto;
                            margin-bottom: auto;
                            font-size: 1.2em;
                        }
                    }
				}
			}
		}
	}
}