$teamaColor : #409FB5;
$teamaYellow : #E1E828;
$teamaGray : #464646;
$baseText:#454343;

@mixin tab {
    @media (min-width: (700px)) {
        @content;
    }
}


div.from_google_msg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    //filter: blur(4px);
    color: white;
    display: flex;
    align-items: center;
	button.close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        background: none;
        border: none;
        width: 2em;
        height: 2em;
        display: block;
        >div{
            width: 5%;
            height: 100%;
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
        }
		.close1 {
            transform-origin: center;
            transform: rotate(45deg);
        }
        .close2{
            transform-origin: center;
            transform: rotate(-45deg);
        }
	}
	div.center {
        padding: 10%;
        box-sizing: border-box;
		h2 {
            font-size: 2.8em;
            line-height: 1.5;
            font-weight: bold;
		}
		p {
            margin-top: 1.5rem;
            max-width: 15em;
            text-align: justify;
            line-height: 2;
		}
		p.use_ar {
            margin-top: 1.5rem;
			a {
                color: $teamaGray;
                background-color: $teamaYellow;
                display: inline-block;
                padding: .4em 1em;
                text-decoration: none;
                font-size: 1.6em;
                border-radius: 5px;
                font-weight: bold;
			}
		}
	}
}
main.single {
    padding: 0 1em;
    box-sizing: border-box;
	div.header {
        margin-top: 2rem;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
		h2 {
            flex: auto 0 0;
            min-width: 250px;
            background-color: $teamaColor;
            color: white;
            border-radius: 0 100px 100px 0;
            box-sizing: border-box;
            padding-left: 1em;
            display: flex;
            align-items: center;
            font-size: 1.5em;
            font-weight: bold;
		}
		p.backToList {
            padding-right: 1em;
			a {
                text-decoration: none;
                display: inline-block;
				img {
                    display: block;
				}
			}
		}
	}
	article {
        padding: 3em calc((100% - 1200px) / 2);
        box-sizing: border-box;
        margin-top: 2rem;
        display: grid;
        grid-template: 
        "plateImage" auto
        "sizes" auto
        "angle" auto
        "noti" auto
        /1fr;
        gap: 1.5rem;
        @include tab{
            grid-template: 
            "plateImage sizes" auto
            "plateImage angle" auto
            "actionBtns angle" auto
            "noti angle" auto
            /45% 1fr;
            gap: 3em 2em;
        }
		figure.plateImage {
            grid-area: plateImage;
            position: relative;
            width: 100%;
            &::before{
                content: '';
                padding-top: 100%;
                display: block;
            }
			img {
                border: none;
                object-position: center;
                object-fit: contain;
                width: 100%;
                height: 100%;
                background-color: white;
                border-radius: 10px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                box-shadow: 0px 0px 14px #194D4639;
                box-sizing: border-box;
                padding: 5%;
			}
			figcaption {
                color: $teamaGray;
                font-weight: bold;
                font-size: 1.5em;
                position: absolute;
                bottom: 5%;
                right: 5%;
                display: grid;
                gap: 0.2em 0.4em;
                grid-template: 
                "kakeru kazu ko" auto
                "kakeru kazu hituyou" auto
                /auto auto auto;
                .kakeru{
                    margin-top: auto;
                    grid-area: kakeru;
                    font-size: 1.6em;
                }
                .kazu{
                    grid-area: kazu;
                    font-size: 2.2em;
                    margin-top: auto;
                }
                .ko{
                    grid-area: ko;
                }
                .hituyou{
                    grid-area: hituyou;
                }
			}
		}
		div.actionBtns {
            grid-area: actionBtns;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            z-index: 1;
            @include tab{
                position: static;
                gap: 1em;
                >*{
                    border-radius: 5px;
                }
            }
            >*{
                padding: 0.8em 0;
                text-align: center;
                font-size: 1.2em;
                font-weight: bold;
            }
			p.buy {
                flex: 65% 1 1;
                background-color: $teamaColor;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
				a {
                    display: block;
				}
            }
            button{
                flex:  35% 1 1;
                border: none;
                background-color: $teamaYellow;
                color: $teamaGray;
            }
            .toste{
                position: fixed;
                bottom: -100%;
                width: 80%;
                margin-left: 10%;
                margin-right: 10%;
                padding: 2em 1em;
                transition: 1s all ease-in-out;
                background-color: rgb(199, 39, 68);
                color: white;
                border-radius: 5px 5px 0 0;
                box-sizing: border-box;
                text-align: center;
                left: 0;
                line-height: 1.5;
                font-size: 1em;
                &.on{
                    bottom:0;
                }
            }
		}
		div.sizes {
            grid-area: sizes;
            font-size: 1.2em;
			dl {
                display: grid;
                grid-template: 
                "top-left-title top-right-title" auto
                "top-left-num top-right-num" auto
                "bottom-title bottom-title" auto
                "bottom-num bottom-num" auto
                /1fr 1fr;
                line-height: 1;
                color: $teamaColor;
				dt {
                    text-align: left;
                    box-sizing: border-box;
                    padding: 1.3rem 1.3rem 0.5rem 1.3rem;
                    &:nth-child(1){
                        grid-area: top-left-title;
                        border-top: solid 2px $teamaColor;
                        border-left: solid 2px $teamaColor;
                        border-top-left-radius: 5px;
                    }
                    &:nth-child(3){
                        grid-area: top-right-title;
                        border-top: solid 2px $teamaColor;
                        border-left: dotted 2px $teamaColor;
                        border-right: solid 2px $teamaColor;
                        border-top-right-radius: 5px;
                    }
                    &:nth-child(5){
                        grid-area: bottom-title;
                        border-left: solid 2px $teamaColor;
                        border-right: solid 2px $teamaColor;
                    }
				}
				dd {
                    text-align: left;
                    box-sizing: border-box;
                    padding: 0 1.3rem 1.3rem 1.3rem;
                    font-size: 1.8em;
                    font-weight: 800;
                    color: $baseText;
                    &:nth-child(2){
                        grid-area: top-left-num;
                        border-bottom: dotted 2px $teamaColor;
                        border-left: solid 2px $teamaColor;
                    }
                    &:nth-child(4){
                        grid-area: top-right-num;
                        border-bottom: dotted 2px $teamaColor;
                        border-left: dotted 2px $teamaColor;
                        border-right: solid 2px $teamaColor;
                    }
                    &:nth-child(6){
                        grid-area: bottom-num;
                        border-left: solid 2px $teamaColor;
                        border-right: solid 2px $teamaColor;
                        border-bottom: solid 2px $teamaColor;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
					span.num_int {
					}
					span.num_floot {
                        font-size: 0.6em;
					}
					span.tanni {
                        font-size: 0.55em;
					}
				}
			}
		}
		div.angle{
            grid-area: angle;
            display: grid;
            grid-template: 
            "suuzi infografhic" auto
            "msg msg" auto
            "explanatory explanatory" auto
            /auto 1fr;
            gap: 2rem 1.5rem;
            &.safe{
                color: $teamaColor;
            }
            &.warning{
                color: #957B26;
            }
            &.danger{
                color: #882525;
            }
			dl {
                grid-area: suuzi;
                margin: auto;
                
				dt {
                    text-align: center;
				}
				dd {
                    margin-top: 1em;
                    text-align: center;
					span.num_int {
                        font-size: 2em;
                        font-weight: bold;
					}
					span.num_floot {
                        font-size: 1em;
                        font-weight: bold;
					}
					span.tanni {
                        margin-top: 0.6em;
                        font-size: 1em;
                        display: block;
					}
				}
			}
			img {
                grid-area: infografhic;
                margin: auto;
			}
			p.msg {
                grid-area: msg;
                text-align: center;
                font-weight: bold;
			}
			p.explanatory {
                grid-area: explanatory;
                box-sizing: border-box;
                padding: 1em 1.5em;
                line-height: 2;
                text-align: justify;
                text-align-last: left;
                border: 2px solid;
                border-radius: 5px;
            }
        }
        aside.noti{
            font-weight: 500;
            grid-area: noti;
            p{
                display: flex;
                align-items: center;
                padding: 1em 0;
                color: $teamaGray;
                span{
                    line-height: 2;
                }
                &::before{
                    content: url(../images/global/icon-noti.svg);
                    flex: auto 0 0;
                    height: 100%;
                    padding-right: 1em;
                    transform: translateY(0.3em);
                }
            }
            
        }
	}
}